
.index-background {
  background-image: url(https://cameronscookware.com/pokemon-pixel-background/pokemon-pixel-background-unique-pokemon-clouds-pixel-art-desktop-background-combination);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-title {
  position: absolute;
  left: 10%;
  top: 4vh;
  font-family: 'Press Start 2P', ;
  font-size: 4vh;
}
