.index-background {
  background-image: url(https://cameronscookware.com/pokemon-pixel-background/pokemon-pixel-background-unique-pokemon-clouds-pixel-art-desktop-background-combination);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
