<h1>Welcome to Poke A Mon</h1>
<h2>Find something mate</h2>
<%= form_tag pokemons_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a pokemon"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
