.filter-bar {
  position: absolute;
  left: 2%;
  top: 4vh;
  width: 60%;
  justify-content: space-between;
  font-family: 'Press Start 2P', ;

  a {
    color: black;
    font-size: 2vh;
  }
}

.index-title {
  font-family: 'Press Start 2P', ;
  font-size: 4vh;
}
