.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}


.simple_form.new_pokemon {
  font-family: 'Press Start 2P', ;
  font-size: 12px;
}

.simple_form .hidden {
  display: none;
}
