.mapboxgl-popup {
  // max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: none !important;
  box-shadow: none !important;
}

#map {
  position: fixed;
  top: 10vh;
  right: 0;
  border: 5px dashed #0d0000;
}

.mapboxgl-popup-close-button {
  right: 17% !important;
  z-index: 9999 !important;
  top: 6% !important;

}

.clash-card.barbarian.mapbox-marker {
  min-width: 100px;
}

.clash-card__image.mapbox-marker {
  height: 100px;
  margin-bottom: 4px;
}

.clash-card__unit-name.mapbox-marker {
  font-size: 18px !important;
}

 .clash-card__image.mapbox-marker {
  img {
    top: 0%;
    width: 100%;
  }
 }



// .marker.mapboxgl-marker.mapboxgl-marker-anchor-center {
//   animation: all 0.5s ease;
// }


// .pokeball-wiggle {
//   animation: wiggle 1s ease;
// }

// @keyframes wiggle {
//   20% {
//     transform: rotate(7deg);
//   }

//   40% {
//     transform: rotate(-14deg);
//   }

//   60% {
//     transform: rotate(4deg);
//   }

//   80% {
//     transform: rotate(-2deg);
//   }

//   100% {
//     transform: rotate(0deg);
//   }
// }
