
<div class="d-flex position-relative index-background">
    <div class="filter-bar d-flex">
      <h1 class="index-title">Available Pokemons</h1>
      <div class="filter">
        <%= link_to "Order by price", filter_path(
        filteraction: 'price_desc',
        queryCurrentLocation: "#{params[:queryCurrentLocation]}",
        location: "#{params[:location]}",
        query: "#{params[:query]}"),
        remote: true
        %>
      </div>

    </div>

    <div class="slide-container row col-8 pt-5 mt-5">
      <%= render 'pokemons_partial', pokemons: @pokemons %>
    </div> <!-- end container -->

    <div
      id="map"
      class=""
      style="width: 35%;
      height: 90vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    <div id="geocoder" class="geocoder"></div>
  </div>
